body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

a {
  padding: 10px;
  background-color: grey;
}

figcaption {
  font-size: smaller;
  text-align: center;
}

featured-property {
  width: 800px;
  text-align: center;
}

details {
  display: block;
}

div: {
    float: left;
  }